body {
  background: #333;
  color: white;
  font-family: "Roboto", sans-serif !important;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.title {
  font-size: 3.125rem;
  text-align: center;
  font-weight: 700;
  margin-top: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#map {
  height: 85vh;
  width: 100%;
  border-radius: 1em;
  color: black;
  font-weight: 600;
  user-select: none;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 62.5rem) {
  #map {
    height: 85vh;
    width: 100%;
    border-radius: 1em;
  }
}

@media screen and (max-width: 46.875rem) {
  #map {
    height: 70vh;
    width: 100vw;
    border-radius: 1em;
    position: fixed;
    transition: height 0.5s, width 0.5s, bottom 0.5s;
  }

  .gm-style-iw-tc {
    display: none;
  }

  .gm-style .gm-style-iw-c {
    position: fixed;
    top: auto;
    right: 0.625rem;
    bottom: -40.36598493003229vh;
    left: 0.625rem;
    width: auto !important;
  }

  #map:focus {
    bottom: 3.125rem;
  }

  #map:focus ~ .gm-style .gm-style-iw-c {
    bottom: 3.125rem;
    transition: bottom 0.5s, right 0.5s;
  }

  .second {
    margin-left: 2vw;
  }
}

@media screen and (max-width: 29.875rem) {
  .gm-style .gm-style-iw-c {
    bottom: -38.36598493003229vh;
  }
}

@media screen and (max-width: 25rem) {
  .tag {
    min-width: 15vw;
  }

  .second {
    margin-left: 3vw;
  }
}

@media screen and (max-width: 23.063rem) {
  .first img {
    display: none;
  }

  .gm-style .gm-style-iw-c {
    bottom: -37.36598493003229vh;
  }
}

@media screen and (max-width: 18.125rem) {
  .gm-style .gm-style-iw-d,
  .gm-style .gm-style-iw-c {
    overflow: hidden !important;
  }
}

@media screen and (max-width: 16.25rem) {
  .tag {
    min-width: 23vw;
  }
}

.gm-style .gm-style-iw-d::-webkit-scrollbar-track,
.gm-style .gm-style-iw-d::-webkit-scrollbar-track-piece,
.gm-style .gm-style-iw-c,
.gm-style .gm-style-iw-t::after {
  background: #f0f4df;
}

.content {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

.parent {
  display: grid;
  grid-template-columns: 0fr 0.6fr 1fr 0.5fr 0fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.first {
  position: relative;
  grid-area: 3 / 2 / 4 / 3;
  width: 100%;
  max-width: 9.375rem;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.first img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.second {
  grid-area: 3 / 3 / 4 / 4;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  flex-direction: column;
  color: rgb(20, 68, 50);
  font-size: larger;
  margin-left: 2vw;
}

.second a {
  color: black;
}

.tag {
  padding: 0.469rem;
  background-color: #144432;
  color: #fff;
  border-radius: 0.313rem;
  font-weight: 500;
  max-width: 9vw;
}
.third {
  grid-area: 3 / 4 / 4 / 5;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#more {
  color: #194836;
}

.filter-wrapper {
  max-width: 600px;
}

.filterMain {
  position: relative;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  white-space: nowrap;
  transition: all 0.2s;
  transform: scale(0.98);
  will-change: transform;
  user-select: none;
  cursor: pointer;
}
@media screen and (max-width: 215px) {
  .filterMain {
      display: none;
  }
  .playerLocationBtn {
      display: none;
  }
}

.filter-button {
  border: none;
  color: white;
  padding: 0.015rem 0.625rem;
  min-width: 103px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 1rem;
  margin: 0.25rem 0.125rem;
  cursor: pointer;
  border-radius: 0.75rem;
}

.playerLocationBtn {
  border: 1px solid #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: transparent;
  transform: scale(1.5);
  cursor: pointer;
  z-index: 5;
}
