:root {
  --temp-bg: #333; /* bg for testing version */

  --maps-color: #fff;

  --map-height: 100vh;
  --map-width: 100%;
  --map-border-radius: 1rem;

  --locationSwapper-color: #1b8900;
  --infoWindow-bg: #f9e36b;
  --infoWindow-bgQuestion: #eeda6d;

  --infoWindow-readMore: #204dee;
  --infoWindow-readMoreHover: #193bb7;
}

/* --------------------- */
/* Default styles (Activated just from start) */
/* --------------------- */

body {
  background: var(--temp-bg);
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#map {
  height: var(--map-height);
  width: var(--map-width);
  border-radius: var(--map-border-radius);
  color: var(--map-color);
  font-weight: 600;
  user-select: none;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 62.5rem) {
  #map {
    height: 90vh;
    width: 100%;
    border-radius: 1em;
  }
}

@media screen and (max-width: 46.875rem) {
  #map {
    height: 90vh;
    width: 100vw;
    border-radius: 1em;
    position: fixed;
    transition: height 0.5s, width 0.5s, bottom 0.5s;
  }
}

.filter-wrapper {
  max-width: 600px;
}

.filterMain {
  position: relative;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  white-space: nowrap;
  transition: all 0.2s;
  transform: scale(0.98);
  will-change: transform;
  user-select: none;
  cursor: pointer;
}
@media screen and (max-width: 215px) {
  .filterMain {
    display: none;
  }
  .playerLocationBtn {
    display: none;
  }
}

.filter-button {
  border: none;
  color: white;
  padding: 0.015rem 0.625rem;
  min-width: 103px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 1rem;
  margin: 0.25rem 0.125rem;
  cursor: pointer;
  border-radius: 0.75rem;
}

.playerLocationBtn {
  border: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #d9d9d9;
  cursor: pointer;
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 50px;
}

.playerLocationBtn span {
  color: #000000;
}

.infoWindow {
  font-family: inherit;
  position: absolute;
  z-index: 50;
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 70%);
  /*242px*/

  background-color: var(--infoWindow-bg);
  color: black;
}

.infoWindow.hidden {
  display: none;
}

.infoWindowContent {
  height: 100%;
  margin-left: 20px;
  transition: all 0.3s ease-out;
}

.infoWindow {
  transform: translateY(0);
  transition: all 0.3s ease-in-out;
}

.infoWindowDropdown {
  background-color: transparent;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin-top: -10px;
  color: white;
  border: 0;
  cursor: pointer;
}

.infoWindowTitle {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 0;
}
.infoWindowCategory {
  margin-top: 0;
  color: #707070;
}

.infoWindowHeader {
  overflow: auto;
  max-height: 88%;
  /*108px*/
  margin-top: 20px;
}

.infoWindowBody {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 2%;
  right: 0;
}

.images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  gap: 10px;
}

.images img {
  max-height: 200px;
  max-width: 150px;
  margin-right: 10px;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
}

.infoWindowReadMore {
  color: black;
  cursor: pointer;
  background-color: var(--infoWindow-readMore);
  border: 0;
  border-radius: 7px;
  padding: 10px;
  width: 10rem;

  /* existing properties */
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.infoWindowReadMore:hover {
  background-color: var(--infoWindow-readMoreHover);
}

.infoWindowDetailsDiv {
  background-color: var(--infoWindow-bgQuestion);
  height: 200px;
  width: 200px;
  padding: 5px;
}

.infoWindowDetailsHead {
  color: #605252;
  font-size: 10px;
  margin-bottom: 0;
}

.infoWindowDetailsStatus {
  color: var(--locationSwapper-color);
  font-size: 15px;
  margin: 0;
  padding: 0;
}

.infoWindowDetailsList {
  list-style-type: none;
  padding: 0;
  margin-top: 5px;
}

.infoWindowDetailsListItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  padding: 5px;
}

.infoWindow.small {
  transform: translateY(80%);
}

.infoWindow.small .infoWindowHeader {
  margin-top: 0;
  margin-bottom: 0;
}

.infoWindow.small .infoWindowReadMore {
  position: absolute;
  top: -235px !important;
  left: 627px !important;
  bottom: none !important;
}

.infoWindow.small .infoWindowHeader {
  overflow: hidden !important;
}

.infoWindow.small {
  bottom: 50px;
}

/* Disable lower buttons zoom in and zoom out */
.gmnoprint.gm-bundled-control.gm-bundled-control-on-bottom .gmnoprint {
  display: none;
}

/* Disable map types */
.gmnoprint .gm-style-mtc {
  display: none;
}

.gmnoprint.gm-bundled-control.gm-bundled-control-on-bottom > .gm-svpc {
  border-radius: 50% !important;
  background: #6bd645 !important;
}

#infoWindowNextIcon {
  margin-left: 20px;
}

#infoWindowIcon {
  margin-top: 10px;
}

.Kategori-knapp {
  color: black;
  border: 1px solid black;
}

@media screen and (max-width: 1000px) {
  .Kategori-knapp {
    position: relative;
    top: -25px;
    left: 30px;
  }

  .Land {
    position: relative;
    float: right;
    margin-right: 16px;
    color: black;
  }

  .Side-Tittel {
    color: black;
    position: relative;
    margin-left: 15px;
    top: -10px;
  }
}

.premium-gallery-img-name {
  color: #fff !important;
  font-size: 21px;
  text-shadow: 2px 2px 3px #000;
  padding: 5px 15px;
  border-radius: 1000px;
  border: 2px solid rgba(255, 255, 255, 0.6);
  user-select: none;
}
