
body {
  background: #333;
  /* color: white; */
  margin: 0;
  padding: 0;
}

.title {
  font-size: 3.125rem;
  text-align: center;
  font-weight: 700;
  margin-top: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#map {
  height: 100vh;
  width: 100%;
  border-radius: 1em;
  color: black;
  font-weight: 600;
  user-select: none;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 62.5rem) {
  #map {
    height: 90vh;
    width: 100%;
    border-radius: 1em;
  }
}

@media screen and (max-width: 46.875rem) {
  #map {
    height: 90vh;
    width: 100vw;
    border-radius: 1em;
    position: fixed;
    transition: height 0.5s, width 0.5s, bottom 0.5s;
  }

  .gm-style-iw-tc {
    display: none;
  }

  .gm-style .gm-style-iw-c {
    position: fixed;
    top: auto;
    right: 0.625rem;
    bottom: -40.36598493003229vh;
    left: 0.625rem;
    width: auto !important;
  }

  #map:focus {
    bottom: 3.125rem;
  }

  #map:focus ~ .gm-style .gm-style-iw-c {
    bottom: 3.125rem;
    transition: bottom 0.5s, right 0.5s;
  }

  .second {
    margin-left: 2vw;
  }
}

@media screen and (max-width: 29.875rem) {
  .gm-style .gm-style-iw-c {
    bottom: -38.36598493003229vh;
  }
}

@media screen and (max-width: 25rem) {
  .tag {
    min-width: 15vw;
  }

  .second {
    margin-left: 3vw;
  }
}

@media screen and (max-width: 23.063rem) {
  .first img {
    display: none;
  }

  .gm-style .gm-style-iw-c {
    bottom: -37.36598493003229vh;
  }
}

@media screen and (max-width: 18.125rem) {
  .gm-style .gm-style-iw-d,
  .gm-style .gm-style-iw-c {
    overflow: hidden !important;
  }
}

@media screen and (max-width: 16.25rem) {
  .tag {
    min-width: 23vw;
  }
}

.gm-style .gm-style-iw-d::-webkit-scrollbar-track,
.gm-style .gm-style-iw-d::-webkit-scrollbar-track-piece,
.gm-style .gm-style-iw-c,
.gm-style .gm-style-iw-t::after {
  background: #f0f4df;
}

.content {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

.parent {
  display: grid;
  grid-template-columns: 0fr 0.6fr 1fr 0.5fr 0fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.first {
  position: relative;
  grid-area: 3 / 2 / 4 / 3;
  width: 100%;
  max-width: 9.375rem;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.first img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.second {
  grid-area: 3 / 3 / 4 / 4;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  flex-direction: column;
  color: rgb(20, 68, 50);
  font-size: larger;
  margin-left: 2vw;
}

.second a {
  color: black;
}

.tag {
  padding: 0.469rem;
  background-color: #144432;
  color: #fff;
  border-radius: 0.313rem;
  font-weight: 500;
  max-width: 9vw;
  max-width: 600px;
}
.third {
  grid-area: 3 / 4 / 4 / 5;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#more {
  color: #194836;
}

.filter-wrapper {
  max-width: 895px;
  transition: all .5s ease-out;
  
  position:absolute;
}

.filterMain {
  position: relative;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  white-space: nowrap;
  transition: all 0.2s;
  transform: scale(0.98);
  will-change: transform;
  user-select: none;
  cursor: pointer;
}
@media screen and (max-width: 215px) {
  .filterMain {
    display: none;
  }
  .playerLocationBtn {
    display: none;
  }
}

.filter-button {
  border: none;
  color: white;
  padding: 0.015rem 0.625rem;
  min-width: 103px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 1rem;
  margin: 0.25rem 0.125rem;
  cursor: pointer;
  border-radius: 0.75rem;
}

.playerLocationBtn {
  border: 1px solid #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: transparent;
  transform: scale(1.5);
  cursor: pointer;
  z-index: 5;
}

.infoWindow {
  font-family: inherit;
  position: absolute;
  z-index: 1;
  bottom: 0;
  top:95%;
  left: 0;
  width: 100%;
  height: calc(100% - 55%);
  transition: all 0.25s ease-in-out ;
  
  /*242px*/
  background-color: #f9e36b;
  color: black;
}

.infoWindow.hidden {
  display: none;
}

.infoWindowContent {
  height: 100%;
  margin-left: 20px;
  transition: all 0.3s ease-out;
  transform: translateY(0);
}

.infoWindowContent.small {
  transform: translateY(100%);
}

.infoWindowDropdown {
  background-color: transparent;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin-top: 3px;
  color: white;
  border: 0;
  cursor: pointer;
}

.infoWindowTitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 5px;
}
.infoWindowDescription {
  margin-top: 0;
  color: #707070;
}

.infoWindowHeader {
  overflow: auto;
  max-height: 50%;
  /*108px*/
  margin-top: 20px;
}

.infoWindowBody {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 2%;
  right: 0;
}

.images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  gap: 10px;
}

.images img {
  max-height: 200px;
  max-width: 150px;
  margin-right: 10px;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
}

.infoWindowReadMore {
  color: black;
  cursor: pointer;
  background-color: #204dee;
  border: 0;
  border-radius: 16px;
  padding: 10px;
  width: 10rem;

  /* existing properties */
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);

  /* new properties */
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.infoWindowReadMore:hover {
  background-color: #193bb7;
}

.material-symbols-outlined {
  margin-left: 0px;
}
.Kategori-knapp {
 color:black;
  border:1px solid black;
    
}


#middle-info #page-content {
  font-family:"Open Sans" sans-serif;
}
@media screen and (max-width: 500px) {
  
#middle-info{
  margin-left:1rem;
  margin-right:1rem;
}
.Kategori-knapp {
  position: relative;
  top: -25px;
  left: 30px;
    
}

.Land {
  color:black;
  font-size: 2.5rem;
  position:relative;
  font-family: "Open Sans", sans-serif;


}

.Side-Tittel {
  color:black;
  font-family: "Open Sans", sans-serif;
}
#middle-info #page-content {
 color:black; 
 white-space: pre-wrap;
}
  
}
p {
  color:black;
  font-family: "Open Sans", sans-serif;
}

@media screen and (min-width: 501px) {

.custom-page-container {
  display:flex;
  text-align:center;
  max-width: 1140px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  align-self: auto;
  padding: 0 18px;
  margin:2.75em auto;
}

  
#middle-info{
  text-align:center;
  display:flex;
  flex-wrap: wrap;
  align-content: space-between;
  flex-direction: column;
  width:100%;
}
.Kategori-knapp {
  position: relative;
  top: -25px;
  margin-right:80%;
}

.Land {
  color:black;
  position:relative;
  float:left;
  margin:0 auto 0 0;
  font-size: 2.5rem;
  font-family: "Open Sans", sans-serif;
  

}

.Side-Tittel {
  color:black;
  margin:0 auto 0 0;
  top: 5px;
  position:relative;
  font-family: "Open Sans", sans-serif;
}
#middle-info #page-content {
 color:black;
 white-space: pre-wrap;
 text-align:left;
 font-family: "Open Sans", sans-serif;
 width:100%;
}

.cover-bilde{
  padding-top:10px;
  object-fit:cover;
  width: 1284px;
  max-height: 308px;
  object-position:100% 20%;
  height:auto;
}
.Lyd-avspiller {
  align-self:center;
}

  
  
}
main#content {
	max-width:fit-content;
  margin:auto;
}

















.custom-window-button {
  border:none;
  position:relative;
  color: black;
  left:50%;
  transform: translateX(-50%)
}

.custom-window-button:hover, .custom-window-button:active, .custom-window-button:focus-visible, .custom-window-button:focus {
  background-color:transparent!important;
  border:none;
  color:black;
  transform: rotate(180deg);
  outline:none;
  transform: translateX(-50%)
}

